# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# Generated subtitle/video outputs
*.ass
*_furigana.mp4
*_furigana.mkv

# OS/editor
.DS_Store
Thumbs.db
.vscode/

# Python build stuff
build/
dist/
*.egg-info/